.intro__header {
    font-size: 23px;
    padding-top: 15px;
}

.intro__duration {
    font-size: 18px;
}

.wrapperIntro {
    border-bottom: 0.5px solid white;
    margin-bottom: 10px;
}

.work-image {
    width: 100%;
    margin: 20px 0;
}

.work-wrapper {
    border-bottom: 0.5px solid white;
    margin: 10px 0;
}

.work-header {
    margin: 40px 0 20px 0;
}